<div class="container">

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
  

  <div class="card">
  <!-- <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" ></button>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
      </ng-template> </p-toolbar> -->
      <div class="row menuStyle">
          <div style="float: left;">
              <button class="btn" (click)="insertAsset()"><i class="fa fa-plus"></i> Add Assets</button> &nbsp;
          </div>
         
      </div>

 
  <p-table #dt1 [value]="assets" [rows]="10" [paginator]="true"
       [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['assetName','registrationDate']" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
          
              <h5 style="float: left;margin: 0px;color: whitesmoke;font-size: 14px;">Assets Details</h5>
             <span style="float: right;">
                 
                  <input type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search..." id="inputStyle"  />
              </span> 
             

          
      </ng-template>
      <ng-template pTemplate="header">
          <tr style="text-align: center;">
            <!--  <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>-->
              <th pSortableColumn="_id">Asset ID <p-sortIcon field="_id"></p-sortIcon></th>
              <th pSortableColumn="assetName">Name <p-sortIcon field="assetName"></p-sortIcon></th>
              <th pSortableColumn="registrationDate">Registration Date<p-sortIcon field="registrationDate"></p-sortIcon></th>
              <th colspan="2">Actions</th>
          </tr>
      </ng-template>
     <ng-template pTemplate="body" let-asset>
          <tr style="text-align: center;">
              <!--<td>
                  <p-tableCheckbox [value]="asset._id"></p-tableCheckbox>
              </td> -->
              <td>{{asset._id}}</td>
              <td>{{asset.assetName}}</td>
              <td>{{asset.registrationDate}}</td>
            
             
             
             
              <td>
                <button class="btn" style="background-color: green;" (click)="editAssetValues(asset._id)"><i class="fa fa-edit"></i></button>
            </td>
            <td>
                <button class="btn" style="background-color: red;" (click)="deleteAsset(asset._id)"><i class="fa fa-trash"></i></button>
            </td>
          
          </tr>
      </ng-template> 
      <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{assets ? assets.length : 0 }} assets.
          </div>
      </ng-template>
  </p-table>
  </div>

</div>
  <p-dialog header="Asset Details" [(visible)]="insertDialog" [modal]="true" [style]="{width: '450px'}" [baseZIndex]="10000">
    <form #myFormAsset = "ngForm" [formGroup]="formAsset" (ngSubmit)="saveAsset()" style="font-family:sans-serif;">
        
        <div class="form-group">
            <label for="assetName">Asset Name</label>
            <input type="text" name="assetName" formControlName="assetName" class="form-control"required>
          </div>
          
        
            <div class="form-group">
                <label for="registrationDate">Registration Date</label>
                <input type="date"  name="registrationDate"  formControlName="registrationDate" class="form-control" required>
            </div> 

       
        
        <div style="float: right;">
            <!--<button type="submit" [disabled]="!myForm.form.valid" class="btn btn-primary btn-sm float-left shopNow" style=" font-family: sans-serif;background-color: black;border-color:black; display: block;">Submit</button>-->
            <button class="btn" (click)="hideInsertDialog()"><i class="fa fa-times"></i> Cancel</button> &nbsp;
            <button class="btn"   [disabled]="!myFormAsset.form.valid" type="submit"><i class="fa fa-check"></i> Save</button>
        </div>
        
        
      </form>
</p-dialog>


<p-dialog header="Asset Details" [(visible)]="editDialog" [modal]="true" [style]="{width: '450px'}" [baseZIndex]="10000">
    <form #myEditForm = "ngForm" [formGroup]="editAsset" (ngSubmit)="updateAsset()" style="font-family:sans-serif;">
        
        <input type="hidden" name="_id" formControlName="_id"  [value]="assetId" class="form-control"required>
        <div class="form-group">
            <label for="assetName">Asset Name</label>
            <input type="text" name="assetName" formControlName="assetName"  [value]="assetName" class="form-control"required>
          </div>
          
        
            <div class="form-group">
                <label for="registrationDate">Registration Date</label>
                <input type="date"  name="registrationDate"  formControlName="registrationDate" [value]="registrationDate" class="form-control" required>
            </div> 

       
        
        <div style="float: right;">
            <!--<button type="submit" [disabled]="!myForm.form.valid" class="btn btn-primary btn-sm float-left shopNow" style=" font-family: sans-serif;background-color: black;border-color:black; display: block;">Submit</button>-->
            <button class="btn" (click)="hideEditDialog()"><i class="fa fa-times"></i> Cancel</button> &nbsp;
            <button class="btn" type="submit"><i class="fa fa-check"></i> Save</button>
        </div>
        
        
      </form>
</p-dialog>